<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@1.9.7" integrity="sha384-EAzY246d6BpbWR7sQ8+WEm40J8c3dHFsqC58IgPlh4kMbRRI6P6WA+LA/qGAyAu8" crossorigin="anonymous"></script>
        <title>Document</title>
    </head>
    <body class="container">
        <div class="row mt-4 g-4">
            <div class="col-8">
                <h1 class="mb-4">Directions</h1>
            
                <ul class="list-group fs-5 me-5" id="directions-list">
                    {{ range .Directions }}
                    {{ block "directions-list-element" .}}
                        <li class="list-group-item bg-primary text-white">{{ .Destination }} - {{ .How }}</li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
    
            <div class="col-4">
                <h1 class="mb-4">Add new directions</h1>
    
                <form hx-post="/submit/" hx-target="#directions-list" hx-swap="beforeend" hx-indicator="#spinner">
                    <div class="mb-2">
                        <label for="directions-destination">Destination</label>
                        <input type="text" name="destination" id="directions-destination" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="directions-how">How</label>
                        <input type="text" name="how" id="directions-how" class="form-control" />
                    </div>
    
                    <button type="submit" class="btn btn-primary">
                        <span class="spinner-border spinner-border-sm htmx-indicator" id="spinner" role="status" aria-hidden="true"></span>
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </body>
</html>